
<form action="/form_receiver" method="post" enctype="multipart/form-data">
  <div>
    <label for="value1">値1: </label>
    <input type="text" name="value1">
  </div>
  <div>
    <label for="value2">値2: </label>
    <input type="password" name="value2">
  </div>
  <div>
    <label for="value3">値3: </label>
    <textarea name="value3" cols=50 rows=10></textarea>
  </div>
  <div>
    <label for="img">画像: </label>
    <input type="file" name="img">
  </div>
  <input type="submit" value="送信">
</form>