.card{
	background: rgba(59, 58, 58, 0.6) !important;
}

.card-header{
	color: white !important;
}

.chart_icon_1{
	color: #F25E5E;
}.chart_icon_2{
	color: #F2AF5C;
}.chart_icon_3{
	color: #04BFAD;
}.chart_icon_4{
	color: #F28963;
}.chart_icon_5{
	color: #658CBF;
}.chart_icon_6{
	color: #0396A6;
}
